%tr
  %td.title
    = render 'shared/controls', :resource => forum
    %h3= link_to forum.name, forum
    %p= forum.description
  %td.topics_count= forum.topics_count
  %td.posts_count= forum.posts_count
  %td.activity
    - if last_topic = forum.topics.ordered.first
      = link_to last_topic.title, last_topic
      by
      = last_topic.user.username
      at
      %time{ :datetime => last_topic.created_at.strftime('%Y-%m-%dT%H:%M:%S'), :class => 'created' }
        = l last_topic.created_at, :format => :long
    - else
      No activity