!!!
%html{:lang => I18n.locale}
  %head
    = display_meta_tags :site => 'Forum Engine'
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'
    = javascript_include_tag 'rails', 'application'
    = csrf_meta_tag
  %body.bp.two-col
    #container
      %header#header
        / = link_to image_tag( 'logo.gif', :alt => 'Forum Engine', :class => 'logo' ), root_url
        / = render 'shared/nav/user'
        / = render 'shared/nav/menu' if user_signed_in?
      %section#content
        = render 'shared/flash', :flash => flash
        = yield
      %footer#footer
        = link_to 'Forum Engine', 'http://github.com/chipiga/forum_engine'
        &copy; 2010
